@media only screen and (max-width: 450px) {

    .width-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .section {
        padding-top: 40px;
    }
    
    h2 {
        font-size: 30px;
        line-height: 38px;
    }

    .ai-header img {
        width: 180px;
    }

    .ai-header .menu-button {
        display: block;
        z-index: 2;
        border: none;
        background-color: transparent;
        color: #FFFFFF;
        margin: 0 10px;
        font-weight: bold;
        font-size: 16px;
        outline: none;
    }
    
    .ai-header nav {
        display: none;
    }

    .hero-background {
        background-size: contain;
        height: 500px;
    }

    .hero-background::before {
        height: 500px;
}

    .hero-background .width-container {
        flex-direction: column;
    }

        .hero__left {
            max-width: 100%;
        }

            .hero_span__top {
                font-size: 25px;
                width: 90%;
                margin-left: 10px;
            }

            .hero_span__middle {
                font-size: 38px;
                line-height: 45px;
                width: 90%;
                margin-left: 10px;
            }

            .hero_span__bottom {
                font-size: 30px;
                width: 90%;
            }

    .hero__right {
        max-width: 100%;
        margin-top: 40px;
    }
    
        .start_date {
            width: 100%;
            padding-left: 10px;
            font-size: 25px;
            text-align: left;
        }

    .hero__buttons {
        flex-direction: column;
        width: 100%;
    }

        .hero__buttons .button{
            margin-left: 0;
            margin-bottom: 20px;
            width: 100%;
        }

    .overview__top {
        flex-direction: column;
        width: 100%;
    }

        .overview__top__left {
            width: 100%;
        }

        .overview__top__right {
            margin-left: 0;
            margin-top: 20px;
        }

            .overview__top__right__title {
                flex-direction: column;
                align-items: flex-start;
            }

    .course_number {
        margin-top: 20px;
        margin-left: 0px;
    }

    .overview_boxes {
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;

    }

        .box {
            width: 100%;
            /* flex-grow: 1; */
            flex-basis: 48%;
            margin-bottom: 20px;
        }

    .overview__middle {
        flex-direction: column;
        margin-top: 20px;
    }

        .overview__middle__left {
            width: 100%;
        }

        .overview__middle__right {
            width: 100%;
            margin-left: 0;
            margin-top: 40px;
        }

        .overview__middle p {
            line-height: 30px;
        }

    .overview__bottom {
        flex-direction: column;
    }

        .overview__bottom img {
            margin-left: 0;
            margin-bottom: 20px;
        }

        .overview__bottom img:last-of-type {
            margin-right: 0;
        }
    
    .why {
        flex-direction: column;
        margin-top: 0;
    }

        .why_left {
            width: 100%;
        }

        .why_right {
            width: 100%;
            padding: 30px;
            height: 500px;
        }

    .like__div {
        flex-direction: column;
    }

    .like_buttons {
        margin-bottom: 50px;
    }

    .course__outline__boxes {
        padding: 0;
    }

        .course__outline__boxes li {
            width: 100%;
            margin: 10px;
            height: auto;
            box-shadow: none;
        }

        .course__outline__boxes img {
            width: 30px;
            margin-right: 10px;
        }

    .blue__background_buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
    }

    .blue__background_buttons .white {
        margin-bottom: 20px;
    }

    .courses__boxes {
        width: 100%;
        overflow: hidden;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

        .courses__boxes li {
            width: 100%;
            height: 300px;
            margin: 20px 0;
        }

    .slider-controlls {
        display: none;
    }

    .grey__background2 {
        padding-bottom: 50px;
        background-repeat: no-repeat;
        background-image: none;
    }  

    .instructor__info {
        flex-direction: column;
    }

        .instructor__info img {
            margin: 0 auto 40px auto;
        }

    .students {
        margin-top: 50px;
    }

        .students__boxes {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }

        .students__boxes li {
            width: 100%;
            margin: 10px auto;
            height: auto;
        }

    .lecturers {
        margin-bottom: 0;
        padding-top: 40px;
        flex-direction: column;
    }

        .lecturers li img {
            margin: 0 auto 20px auto;
        }

        .lecturers li span.title {
            margin-bottom: 40px;
        }

    .next_level_skills a {
        width: 100%;
    }

    .news li {
        padding: 20px;
        flex-direction: column;
    }

        .news li a {
            flex-direction: column;
        }

        .news li img {
            width: 100%;
            margin-bottom: 20px;
        }

    .contact__info {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        
    }

        .contact__info__box {
            width: 445px;
            margin-right: 2px;
            margin-left: 2px;
        }

    .footer {
        flex-direction: column;
        align-items: center;
    }

        .footer__nav__bar a {
            padding-top: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 5px;
            margin-right: 20px 0;
        }

        .footer__logo__images {
            display: none;
        }
}